body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

#circle {
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  border-radius: 50%;
  position: relative;
  transition: transform 0.1s, background-color 0.1s;
}
